html { 
  height:100vh;
  margin: 0,
}


body {
  height: 100vh;
  margin: 0;
  padding: 15px;
  background-image: url('assets/splat.jpeg');
  overflow-y: visible;
  /* background-color: purple; */
  color: white;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  /* background-color: indigo; */
  text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.transparent-box {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin: 10px;
  border-radius: 40px;
  color:white; 
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media screen and (min-width:768px){
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
} 
@media (max-width: 768px) {
  body {
      background-size: 100% 100%;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width:95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}

